<html>
<head>
</head>
<body>

<h1>Welcome {{username}}</h1> 

<a href="/home">Home</a>
<br>
<a href="/logout">Logout</a>
<br>
<a href="/profile">Profile</a>
<br>
<a href="/posting">Skills Posting</a>

<style type="text/css"> table, th, td{ border: 1px solid black; } </style>


<h2><u>Skilled in/seeking</u></h2>

<table>
{% for line in skills %}
	<tr>

		<td>{{line.keyword}}</td>
		
		<br>
	</tr>
{% endfor %}
</table>


<h2><u>Your matches</u></h2>
 
<table>
{% for line in matches %}
	<tr>

		<td>{{line.username}}</td>
		<td>{{line.firstname}}</td>
		<td>{{line.lastname}}</td>
		<td>{{line.gender}}</td>
		<td>{{line.email}}</td>
		<td>{{line.school_name}}</td>
		<td>{{line.major}}</td>
		<td>{{line.keyword}}</td>
		{% if line.idea != "" %}
			<td>{{line.idea}}</td>
		{% endif %}
		<br>
	</tr>
{% endfor %}
</table>

</body>

</html>